// $ibexa-store-color-main-700: #275799;
// $ibexa-store-color-main-600: #3474cc;
$ibexa-welcome-color-main: #ae1164;
// $ibexa-store-color-main-500: #67a7ff;
// $ibexa-store-color-main-400: #8dbdff;

// $ibexa-store-color-state-700: #ff4713;
// $ibexa-store-color-state-600: #f7633a;
// $ibexa-store-color-state-500: #ff9071;
// $ibexa-store-color-state-400: #ffb5a0;

// $ibexa-store-color-dark-600: #131c26;
// $ibexa-store-color-dark: #3b424a;
// $ibexa-store-color-dark-500: #71767c;

// $ibexa-store-color-light-700: #cfd2d5;
// $ibexa-store-color-light: #ffffff;
// $ibexa-store-color-light-500: #f3f3f6;

// $ibexa-store-color-extra-purple: #ae1164;
// $ibexa-store-color-extra-savannah: #fcae42;
// $ibexa-store-color-extra-green: #00a42b;
$ibexa-welcome-color-dark-600: #0b1117;
$ibexa-welcome-color-dark: #131c26;
$ibexa-welcome-color-light-600: #f9f9fa;
$ibexa-welcome-color-light: #ffffff;
$ibexa-welcome-color-extra-red: #db0032;

$ibexa-welcome-transition: cubic-bezier(0.25, 0.8, 0.25, 1);
$ibexa-welcome-transition-duration: 0.4s;
